//colors

$white:		#ffffff;
$black:		#000000;

$grayltr:	#f7f8f8;
$graylt:	#d7d7d7;
$gray:		#808080;

$graydk: 	#222222; //rgba(34, 34, 34, 100)
$cream:		#FFFCF2; //rgba(255, 252, 242, 100)
$blue:		#1c5d99; //rgba(28, 93, 153, 100)
$red: 		#8c271e; //rgba(140, 39, 30, 100)
$bluelt: 	#bbcde5; //rgba(187, 205, 229, 100)

//fonts

$bolder:	600;
$normal:	300;
$light:		200;
$bold:		400;

$main:		'Open Sans', Arial, sans-serif;
$title:		'Open Sans', Arial, sans-serif;