
// global defualts

body{
	font:$normal 16px/24px $main;
	font: $bold 1em/1.75em $main;
	background:$blackdk;
	color:$black;
	&::selection{
		background:$blue;
		color:$white;
	}
	&::-moz-selection {
		background:$blue;
		color:$white;
	}

}

p{
	font: $bold 1em/1.75em $main;
	color:$body;
	margin: 0 0 20px;

	&.smtext{
		font-size: .9em;
	}
	&.intro{
		margin:0 0 50px;
	}
}

p a:hover{
		text-decoration:none;
		@include single-transition(all, 0.3s, ease-in-out);
	}
li a{
	font-weight:$normal;
	&:hover{
		text-decoration:none;
		@include single-transition(all, 0.3s, ease-in-out);
	}
}



h1{
	font: $normal 1.875em/1.5em $main;
	margin: 0 0 20px;
	color:$black;
	a{
		text-decoration: none;
		color:$black;
		&:hover{
			color:$black;
		}
	}
	&.pagetitle{
		margin:0;
		/*line-height:1em;*/
		&::after{
			width: 60px;
  			height: 4px;
  			background: $graymd;
  			display: block;
  			margin:  40px 0;
  			content:"";
		}
	}
}

h2{
	font: $normal 1.375em/1.5em $main;
	margin: 0 0 20px;
	color:$black;

	&.sectiontitle {
		font: $bolder 1.875em/1.5em $title;
  		text-align:center;
  		margin:0 0 40px;
  		text-transform:uppercase;
	}

	a{
		text-decoration: none;
		color:$black;

	}
}

h3{

	font:$bolder 1.0625em/1.25em $main;
	margin: 0 0 20px;
	color:$black;
	a{
		text-decoration: none;
		color:$black;
		&:hover{
			color:$black;
		}
	}
}

h4{
	font: $bold 1em/1.25em $main;
	margin: 0 0 20px;
	color:$black;
	a{
		text-decoration: none;
		color:$black;
		&:hover{
			color:$black;
		}
	}
}

h5{
	font: $bold .83em/1.25em $main;
	margin: 0 0 20px;
	color:$black;
	a{
		text-decoration: none;
		color:$black;
		&:hover{
			color:$black;
		}
	}
}

h6{
	font: $bold .75em/1.5em $main;
	margin: 0 0 20px;
	color:$black;
	a{
		text-decoration: none;
		color:$black;
		&:hover{
			color:$black;
		}
	}
}

.wrapper{
	width:90%;
	max-width:960px;
	margin:0 auto;
	position: relative;
	&.small{
		max-width:720px;
	}
}
.clear{
	width:100%;
	margin:0;
	clear:left;
}

.left{ float:left; }
.right{float:right;}
.full {width:100%;}
.half {width:48%;}
.onequarter {width:23%;
	@media (max-width:768px){
		width:100%;
	}
}
.onethird {width:31%;}
.twothird {width:66%;}
.threequarter{width:71%;
	@media (max-width:768px){
		width:100%;
		}
	}

.feat {
  float: left;
  margin: 0 10px 10px 0;
}

.col{
	width:48%;
	float:left;
	display:inline;
	&.left{
		margin: 0 2% 0 0;}
	&.right{
		margin: 0 0 0 2%;}
}

ul {
	list-style-type: disc;
	list-style: initial;
	margin:35px 0 35px 45px;

	li{
		margin:0 0 20px;
		list-style-type: none;
		position:relative;
		font:$bold 1em/1.5em $main;
		color:$body;
		&::after{
			content: "";
  			height: 5px;
  			width: 5px;
  			background-color: $blue;
  			position: absolute;
  			top: 9px;
  			border-radius: 50%;
  			left: -20px;
		}
	}
}

ol {
	list-style: decimal;
	margin:0 0 35px 45px;
	li{
		margin:0 0 20px;
		font:$bold 1em/1.5em $main;
		color:$body;
	}
}

li ol, li ul{
	margin:20px 0 20px 45px;
}

li ul.sub-menu{
	margin:0;
}

i,em{font-style:italic;}
b,strong{font-weight:$bolder;}
blockquote{
	padding: 20px 5%; 
	margin:0 0 40px;
	background:$graylt;
	position:relative;
	box-shadow:0 0 0 2px $graymd;
	p{
		/*color:$black;
		font-size:.9375em;*/
		font-size:.875em;
		font-style:italic;
		padding:0 0 0 50px;
		@media(max-width:768px){
  			padding:0;
  		}
	}

	h3{
		font:$bolder 1em/1.375em $main;
		padding:0 0 0 50px;
		@media(max-width:520px){
  			padding:0;
  		}
	}

	&::before{
		position: absolute;
  		content: "";
  		background: url(../img/blockquote.png) 0 7px no-repeat $blue;
  		height: 50px;
  		width: 50px;
  		top: 20px;
  		/*left: -75px;*/
  		left:20px;
  		border-radius: 50%;
  		@media(max-width:768px){
  			display:none;
  		}
	}
}

hr{
	border:none;
	width: 60px;
  	height: 4px;
  	background: $graymd;
  	display: block;
  	margin: 50px auto;
}

img{
	max-width:100%;
	height: auto;

	&.alignleft{
		float:left;
		margin: 10px 20px 10px 0;
	}
	&.alignright{
		float: right;
		margin: 10px 0 10px 20px;
	}
	&.aligncenter{
		float: left;
		width: 100%;
		margin: 0 0 20px;
	}
}

.svgwrap{
	max-width:100%;
	height: auto;
	&.alignleft{
		float:left;
		margin: 0 20px 20px 0;
	}
	&.alignright{
		float: right;
		margin: 0 0 20px 20px;
	}
	&.aligncenter{
		float: left;
		width: 100%;
		margin: 0 0 20px;
	}
}

.featuredimg{
	width:100%;
	float: left;
	margin:20px 0 60px;
	img{float: left; width:100%;}
}

.wp-caption{
	border:1px solid $graylt;
	img{
		float: left;
		border:5px solid $white;
	}
	&.alignleft{
		float:left;
		margin: 0 20px 20px 0;
	}
	&.alignright{
		float: right;
		margin: 0 0 20px 20px;
	}
	&.aligncenter{
		float: left;
		width: 100%;
		margin: 0 0 20px;
	}
	p.wp-caption-text {
		font-size: .8em;
		float: left;
		width: 90%;
		background: $white;
		padding: 10px 5%;
		margin: 0;
		line-height: 1.6em;
		text-align: center;
	}
}

.iframe{
	float: left;
	margin-right: 2%;
	&.right{margin-right: 0; margin-left: 2%; float: right;}
	&.half{width: 48%;}
	&.onethird{width: 30%;}
}

// global widgets

.social {
	/* default: gray to blue hover */
	a{
		display: inline-block;
		background: url("../img/social.png") no-repeat 0 -181px transparent;
		width: 40px;
		height: 40px;
		margin: 5px 5px 5px 0;
		&:last-child{
			margin-right:0;
		}
		&:hover{
			background-position-y:-121px;
		}

		&.facebook{
			/*background-position-x:0px;*/
		}
		&.twitter{
			background-position-x:-59px;
		}

		&.linkedin{
			background-position-x:-116px;
		}

		&.rss{
			background-position-x:-174px;
		}

		&.google{
			background-position-x:-232px;
		}

		&.pinterest{
			background-position-x:-290px;
		}

		&.youtube{
			background-position-x:-406px;
		}

		&.email{
			background-position-x:-697px;
		}
	}

	&.blue{
		a{
			background-position-y:-121px;
			&:hover{
				background-position-y:-60px;
			}
		}
	}
	&.orange{
		a{
			background-position-y:-60px;
			&:hover{
				background-position-y:-121px;
			}
		}
	}

	&.small{
		a{
			background: url("../img/social-small.png") no-repeat 0 -91px transparent;
			width: 20px;
			height: 20px;
			margin:0;
			&:hover{
				background-position-y:-61px;
			}

			&.facebook{
			/*background-position-x:0px;*/
			}

			&.twitter{
				background-position-x:-29px;
			}

			&.linkedin{
				background-position-x:-58px;
			}

			&.rss{
				background-position-x:-87px;
			}

			&.google{
				background-position-x:-116px;
			}

			&.pinterest{
				background-position-x:-145px;
			}

			&.youtube{
				background-position-x:-203px;
			}

			&.email{
				background-position-x:-349px;
			}
		}

		&.blue{
			a{
				background-position-y:-61px;
				&:hover{
					background-position-y:-30px;
				}
			}
		}

		&.orange{
			a{
				background-position-y:-30px;
				&:hover{
					background-position-y:-61px;
				}
			}
		}

		&.white{
			a{
				background-position-y:-0px;
				&:hover{
					background-position-y:-30px;
				}
			}
		}
	}
}


pre{
	float: left;
  	width: 96%;
  	background-color: $graymd;
  	font-family: Consolas, Monaco, "Courier New", Courier, monospace;
  	font-size: .75em;
  	padding: 10px 2%;
  	margin: 0 0 40px;
  	white-space:pre-wrap;

  	span{
  		width:100%;
  		&.green{
  			color:$greendk;
  		}
  		&.typ{
  			color:$maroon;
  		}
  		&.red{
  			color:red;
  		}
  		&.pink{
  			color:magenta;
  		}
;  	}
}








/* forms */


form{
	display:inline-block;
	background:$graymd;
	padding:20px;
	margin:0 0 40px;
	font:$normal 1em/1em $main;
	color:$black;
	div{
		float:left;
		width:100%;
		margin:0 0 5px;
		&.form_hint_holder{
			font:$normal .875em/1em $main;
			color:$blue;
			margin:0 0 20px;
		}
	}
	p{
		font:$normal .875em/1em $main;
		color:$black;
		input{
			/*font-size:1.1428em;*/
			font-size:initial;
			}
	}
}

select{
	float:left;
	width:100%;
	padding:10px;
	font:$normal 1em/1.18em $main;
	color:$black;
	border:none;
	border-radius:0px;
	box-shadow:inset 0 0 0 1px $graydk;
	-webkit-appearance: none;
    -moz-appearance: none;
    background: url("../img/search_icons.png") no-repeat right 13px $white;
    &:focus {
		outline-color:$orange;
	}
}

input{
	float:left;
	width:96%;
	padding:10px 2%;
	font:$normal 1em/1em $main;
	color:$black;
	border:none;
	border-radius:0px;
	box-shadow:inset 0 0 0 1px $graydk;

	&[type="submit"]{
		width:50%;
		padding:10px;
		cursor:pointer;
		box-shadow:none;
		background:$blue;
		color:$white;
		@include single-transition(all, 0.3s, ease-in-out);
		&:hover{
			background:$orange;
		}
	}
	&[type="radio"]{
		box-shadow:none;
		width:15px;
		margin:7px 10px;
	}

	&[type="checkbox"]{
		box-shadow:none;
		width:15px;
		margin:7px 10px;
	}

	&::-webkit-input-placeholder {
  		color: $black;
  		font:$normal 1em/1.25em $main;
	}
	&:-moz-placeholder { 
		color: $black;
		font:$normal 1em/1.25em $main;
	}
	&::-moz-placeholder {  
		color: $black;
		font:$normal 1em/1.25em $main;
	}
	&:-ms-input-placeholder {
		color: $black;
		font:$normal 1em/1.25em $main;
	}

	&:focus {
		outline-color:$orange;
	}
}

textarea{
	float:left;
	width:96%;
	padding:10px 2%;
	font:$normal 1em/1.25em $main;
	color:$black;
	border:none;
	border-radius:0px;
	box-shadow:inset 0 0 0 1px $graydk;
	&:focus {
		outline-color:$orange;
	}
}

@media(max-width:768px){
	select{
		padding:15px;
		font:$normal 1.25em/1em $main;
		background-position-y:20px;
	}

	input{
		padding:15px 2%;
		font:$normal 1.25em/1em $main;
	}

	textarea{
		padding:15px 2%;
		font:$normal 1.25em/1.375em $main;
	}
}
