.large{display:block;}

#header{
	float:left;
	width:100%;
	margin:0 0 20px;

	.logo {
		width: 10%;
		float: left;
		margin: 10px 0;
	}
	.title{
		float: left;
		margin: 35px 2% 0;
	}
	.search {
		float: right;
		margin: 10px 0 0;
	}
	.social {
		float: right;
		clear: right;
		margin: 10px 0 0;
	}
}

#mainvisual{
	.slide{
		width: 100%;
		position: relative;
		overflow: hidden;
	}

	.content {
		background: rgba(0, 0, 0, 0.6);
		position: absolute;
		bottom: 10%;
		right: 0;
		padding: 20px;
	}
}