
#mainvisual {
	float: left;
	width: 100%;
	background: $gray;
	min-height: 250px;
	margin:0;
	position: relative;
	overflow:hidden;
	.slideshow{
		width: 100%;
		position: relative;
		z-index: 10;
	}
	.wrapper {
		position: relative;
		overflow: hidden;
		height: 100%;
	}

	.slide{
		background-repeat: no-repeat;
		background-position: center center;
		background-color: $graylt;
		background-attachment: fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		height: 360px;
		width: 100%;
		position: relative;
		overflow: hidden;
		text-align: left;

		&.right{
			text-align: right;
		}
		&.center{
			text-align: center;
		}
	}

	.content {
		width: 100%;
		height: auto;
		display: block;
		z-index: 50;
		position: absolute;
		margin: 30px 0;
		top: 50%;
		transform: translateY(-50%);

		.title{
			font-weight: $normal;
			color:$white;
			font-size: 2.5em;
			line-height: 1.5em;

			a{color:$white;}
		}
		.subtitle{
			font-weight: $normal;
			color:$white;
			font-size: 2em;
			line-height: 1.5em;
		}
		a.button {
			display: inline-block;
			margin: 15px 0;
		}
	}

	.controls {
		position: absolute;
		bottom: 20px;
		z-index: 100;
		width: 100%;
		text-align: center;
		color: #fff;
	}

	.cycle-pager {
		display: inline-block;
		span {
			font-size: 0;
			width: 20px;
			height: 20px;
			display: block;
			background-color: #fff;
			margin: 0 5px;
			line-height: 0;
			position: relative;
			float: left;
			cursor: pointer;
			&.cycle-pager-active{
				background-color:$graydk;
			}
			&:hover{
				background-color:$graylt;
			}
		}
	}
	.arrows {
		cursor: pointer;
		display: inline-block;
		width: 0;
		height: 0px;
		border-top: 10px solid transparent;
		border-bottom: 10px solid transparent;

		&.cycle-prev{border-right: 15px solid #fff;}
		&.cycle-next{border-left: 15px solid #fff;}
	}

}