.menu {
  li{
    &::after{
      display:none;
    }
  }
  &.main{
    float:left;
    width:100%;
    padding: 15px 0;
    height: 50px;
    .wrapper{
      .logo{
        float: left;
        width: 21%;
        min-width:198px;
        a{
          display:block;
          max-width: 198px;
          margin: 0 auto;
          img{
            width: 100%;
            max-width: 198px;
          }
        }
        @media(max-width:1024px){
          width: 100%;
          text-align: center;
          margin: 0 0 40px 0;
        }
      }
      .menubttn{
        display:none;
        &.mobilebutton{
          @media(max-width:1024px){
            margin-right:0;
            width:26%;
            padding:15px 3%;
            box-shadow:0 0 0 1px $blue;
            color:$blue;
            &:hover{
              background:$blue;
              color:$white;
              &::after{
                background: url("../img/image-sprite.png") 50% -5.5% no-repeat;
              }
            }
            &::after{
              background: url("../img/image-sprite.png") 50% 35.5% no-repeat;
              height: 56px;
              width: 75px;
              position: absolute;
              right: 0px;
              top: 0px;
              content: "";
            }
            &.active{
              background:$blue;
              color:$white;
              &::after{
                background-position-y:-5.5%;
              }
            }
          }
          @media(max-width:740px){
            text-align:left;
          }
          @media(max-width:520px){
            display:block;
            width:100%;
            padding:15px 0;
            text-align:center;
          }
        }
        @media(max-width:1024px){
          display:block;
          float:left;
          width:32%;
          margin:0 2% 0px 0;
          text-align:center;
          box-shadow:0 0 0 1px $orange;
          color:$orange;
          padding: 15px 0;
          cursor: pointer;
          position: relative;
          font: $normal 1.25em/1.25em $main;
          &:hover{
            background:$orange;
            color:$white;
          }
          @media(max-width:520px){
            display:none;
          }
        }
      }
      .menu-main-menu-container{
        float:right;
        width:78%;
        ul{
          float:right;
          width:100%;
          margin:17px 0;
          position:relative;
          z-index:300;
          li{
            float:left;
            list-style-type: none;
            padding:0 0 0 40px;
            margin:0;
            position: relative;
            font: $normal 0.9375em/1.25em $main;
            a{
              padding: 10px 0;
              @media(max-width:1024px){
                width:90%;
                padding:20px 5%;
                float:left;
                background:$white;
                box-shadow:1px 0px 0px 0px $blue, inset 0px -1px 0px 0px $blue, -1px 0px 0px 0px $blue;
                &:hover{
                  background:$orange;
                  color:$white;
                }
              }
            }
            .click{
              position:absolute;
              top:0;
              right:0px;
              height:36px;
              width:30px;
              background:$orange;
              cursor:pointer;
              display:none;
              @include single-transition(all, 0.3s, ease-in-out);
              &:hover{
                background:$orangedk;
              }
              &::after{
                background:url(../img/image-sprite.png) no-repeat 50% 73.5%;
                content:"";
                position:absolute;
                height:57px;
                width:100%;
                @include single-transition(all, 0.3s, ease-in-out);
              }
              &.active{
                background-color:$orangedk;
                &::after{
                  transform:rotate(180deg);
                  -webkit-transform:rotate(180deg);
                }
              }
              @media(max-width:1024px){
                display:block;
                width:75px;
                height:57px;
              }
              @media(max-width:740px){
                width:50px;
              }
              @media(max-width:520px){
                width:75px;
              }
            }
            ul{
              &.sub-menu{
                position:absolute;
                top:25px;
                float:left;
                width:100%;
                min-width:175px;
                margin:0;
                display:none;
                li{
                  float:left;
                  width:100%;
                  margin:0;
                  padding:0;
                  a{
                    background:$white;
                    color:$body;
                    float:left;
                    width:90%;
                    padding:10px 5%;
                    box-shadow:inset -1px 0px 0px 0px $body, inset 0px -1px 0px 0px $body, inset 1px 0px 0px 0px $body;
                    &:hover{
                      background:$blue;
                      color:$white;
                    }
                    @media(max-width:1024px){
                      float:left;
                      width:80%;
                      padding:20px 10%;
                      background:$orange;
                      color:$white;
                      box-shadow:inset 0px -1px 0px 0px $white;
                      &:hover{
                        background:$blue;
                      }
                    }
                  }
                  .click{
                    height:56px;
                    background-color:$blue;
                    &.active{
                      background-color:$bluedk;
                    }
                    &::hover{
                      background-color:$bluedk;
                    }
                    @media(max-width:1024px){
                      display:block;
                      width:75px;
                      right:0px;
                    }
                    @media(max-width:740px){
                      width:50px;
                    }
                    @media(max-width:520px){
                      width:75px;
                    }
                  }
                  ul{
                    &.decendant{
                      position:static;
                      display:none;
                      li{
                        a{
                          width:80%;
                          padding:10px 10%;
                          background:$orange;
                          color:$white;
                          &:hover{
                            background:$white;
                            color:$orange;
                          }
                        }
                        .click{
                          @media(max-width:1024px){
                            height:35px;
                            &::after{
                              height:35px;
                              background-position-y:71.5%;
                            }
                          }
                        }
                      }
                    }
                  }
                }
                @media(max-width:1024px){
                  min-width:0px;
                  position:static;
                  box-shadow:1px 0px 0px 0px $blue, -1px 0px 0px $blue;
                }
              }
            }
            &:hover ul{
              display:block;
              box-shadow: 0px -1px 0px 0px $body;
              @media(max-width:1024px){
                /*box-shadow:none;*/
                display:none;
                box-shadow:1px 0px 0px 0px $blue, -1px 0px 0px $blue;
              }
            }
            &.orange{
              float:right;
              padding:0;
              a{
                text-transform: uppercase;
                color:$orange;
                box-shadow: inset 1px 1px 0px 1px $orange, inset -1px -1px 0px 1px $orange;
                padding: 10px;
                font-weight: $bold;
                &:hover{
                  background:$orange;
                  color:$white;
                }
              }
              @media(max-width:1024px){
                a{
                  padding:20px 5%;
                  box-shadow:1px 0px 0px 0px $blue, inset 0px -1px 0px 0px $blue, -1px 0px 0px 0px $blue;
                  background:$orange;
                  color:$white;
                  &:hover{
                    background:$white;
                    color:$orange;
                  }
                }
              }
            }
            @media(max-width:1024px){ /*(top-level li)*/
              padding:0;
              width:100%;
            }
          }
          @media(max-width:1024px){
            margin:0;
          }
        }
        &.mobile{
          @media(max-width:1024px){
            display:block;
          }
        }
        @media(max-width:1024px){
          display:none;
          width:32%;
        }
        @media(max-width:520px){
          width:100%;
        }
      }
    }
    &.stuck{
      position:fixed;
      z-index:200;
      background:$graymd;
      top:0px;
      @include single-transition(top, 1s, ease-in-out);
      &.logedin{
        top:32px;
        @media(max-width:782px){
          top:46px;
        }
        @media(max-width:600px){
          top:0px;
        }
      }
      &.stage {
        position:fixed;
        z-index:200;
        top:-100px;
      }
    }
    @media(max-width:1024px){
      height:155px;
      padding:40px 0;
    }
  }
}

