
//global vars for SASS/CSS

//colors

$grayltr:#f7f8f8;
$graylt:#d7d7d7;
$gray:#808080;
$graymd:#666464;
$graydk:#4d4d4e;

$white: #fff;
$black: #000;

//fonts

$bold:700;
$normal:400;
$light:200;

$sans:'Open Sans', Arial sans-serif;
