@import "compass";
@import "compass/reset";
@import "vars";

@import "global";
@import "buttons";
@import "menu";
@import "mainvisual";
@import "footer";

@import "homepage";
@import "subpage";

@import "widgets";
@import "posts";
@import "blog";



//-----------------------------------------------
// Main Layout Elements

.mainwrapper{
	width:100%;
	margin:0 auto;
	background:$white;
	overflow:hidden;
}
.masthead{
	background: $black;
	padding: 0;
	float:left;
	width:100%;
	

	

}
#header{
	float:left;
	width:100%;
	padding:20px 0;
	position: relative;
	z-index: 100;
	text-align: center;
}


#content{
	float:left;
	width:100%;
	padding:0;
	position: relative;
	z-index: 100;

	.section {
		float: left;
		width: 100%;
		margin:0;
		padding: 50px 0;
		&.posts{
			padding:0 0 50px;
		}

		&.full.cta.blue.frontpage{
			padding:30px 0;
		}

		/*&.full.resources.frontpage{
			padding:60px 0 0px;
		}*/

		&.about{
			padding:60px 0 0;
		}


		.callout {
			float: left;
			padding:20px 15px;
			margin:20px 5% 20px 0;

			&.right{
				float: right;
				margin:20px 0 20px 5%;
			}
			p {
				padding:0 20px;
			}
			&.graylt {
				background:$graylt;
			}
			&.gray {
				background:$gray;
			}

			&.blue{
				background:$blue;
			}
			&.pdf{
				color:$body;
				margin:0;
				p{
					padding:0;
				}
				table{
		    		border: none; 
		    		border-collapse: 
		    		collapse; 
		    		margin:20px 0;
		    		width:100%;
		    		tr{
		    			&:nth-child(odd){
		    				background:$navy;
		    				color:$white;
		    			}
		    			&:nth-child(even){
		    				background:$white;
		    				color:$navy;
		    				td{
		    					box-shadow:inset 0px -1px 0px 0px $navy;
		    				}
		    			}
			    		td{
			    			border:none;
			    			vertical-align:top;
			    			padding:5px;
			    		}
			    	}
    			}
				&.left{
					float:left;
					width:23%;
					padding:10px 2%;
					@media(max-width:768px){
						width:96%;
						margin:0px 0 20px;
					}
				}
				&.right{
					float:right;
					width:70%;
					padding:0;
					@media(max-width:768px){
						width:100%;
						margin:0 0 40px;
					}
				}
			}
			@media(max-width:1024px){
				width:100%;
			}
		}

			/*&.full.events {
				padding:0 0 80px;
			}

			&.full.posts.cards {
				&:nth-child(2n){
					background:$grayltr;
				}
			}*/

		&.left{margin: 0 2% 0 0;}
		&.right{
			margin: 0 0 0 2%; 
			float:right; 
			padding:100px 0 50px; /* b/c left side has 2 sections w/50px padding */
		}
		&.half{width: 48%;}
		&.onethird{width:28%;
			@media (max-width:1024px) {
				width:100%;
				margin:0;
				padding:0 0 80px 0;
			}
		}
		&.twothird{width: 64%;
			@media (max-width:1024px) {
				width:100%;
				margin:0;
				padding:80px 0 0 0;
			}
		}
		&.onequater{width:23%}
		&.threequarter{width:73%}

		&.border{border-bottom: 1px solid $graymd;}

		&.nomargin{margin:0;}
		&.nopadding{padding:0;}

		&.graylt{background: $graylt;}
		&.graydk{background: $graydk;}
		&.blue{background: $blue;}
		&.white{background:$white;}

		&.sidebar {
			position:relative;
  			@include single-transition(top, 0.3s, ease-in-out);
		}

		/*.section {
			padding:0px;
		}*/

		&.pagination {
			a.page-numbers {
				display: inline-block;
  				margin: 0 5px;
  			}
		}
	}
}


.uppercase {
	text-transform:uppercase;
}

.center {
	text-align:center;
}


.wrap, .pagewrap {
	width: 100%;
	float: left;
	clear: both;
	margin:0 0 25px;
}

.divider{
	width: 60px;
  	height: 4px;
  	background: $graymd;
  	display: block;
  	margin: 0 auto;
}

.template_page-resources {
	#content{
		.section{
			.posts{
				padding:50px 0;
			}
		}
	}

	.inputwrap{
		float:left;
		width:32%;
		margin:0 2% 0px 0;
		position:relative;
		background: url("../img/search_icons.png") no-repeat 8px -21px $white;

		select{
			background-color: transparent;
			padding-left:10%;
		}
		input{
			background-color: transparent;
			width:85%;
			padding-right:5%;
			padding-left:10%;
		}

		&.middle{
			background-position-y: -55px;
		}
		&.last{
			margin:0;
			background-position-y: -89px;
		}

		@media(max-width:1024px){
			select{
				padding-left:14%;
			}

			input{
				padding-right:5%;
				padding-left:14%;
				width:81%;
			}
		}

		@media(max-width:768px){
			width:100%;
			margin:0 0 20px;
			background-position-y:-14px;

			select{
				padding-left:10%;
			}
			input{
				padding-right:5%;
				padding-left:10%;
				width:85%;
			}
			&.middle{
				background-position-y:-49px;
			}
			&.last{
				background-position-y:-82px;
			}
		}
	}
}


.addthis_sharing_toolbox{
	clear:left;
	float:left;
	margin:0 0 40px 0;
}