@import "compass";
@import "compass/reset";
@import "vars";

@import "global";
@import "buttons";
@import "menu";
@import "mainvisual";

@import "homepage";
@import "subpage";

@import "widgets";
@import "posts";



//-----------------------------------------------
// Main Layout Elements

.mainwrapper{
	width:100%;
	margin:0 auto;
	background:$white;
	overflow:hidden;
}
.masthead{
	background: $graylt;
	padding: 10px 0;
	float:left;
	width:100%;
	position: relative;
	z-index: 100;

	.widgets{
		.widget{
			float: right;
			width: auto;
			margin: 0 0 0 10px;
			padding: 0;

			a{
				float:left;
			}
		}
	}

}
#header{
	float:left;
	width:100%;
	padding:20px 0;
	position: relative;
	z-index: 100;
	text-align: center;
}
#content{
	float:left;
	width:100%;
	padding:20px 0;
	position: relative;
	z-index: 100;

	.section {
		float: left;
		width: 100%;
		margin:0;
		padding: 60px 0;

		&.left{margin: 0 2% 0 0;}
		&.right{margin: 0 0 0 2%;}
		&.half{width: 48%;}
		&.onethird{width: 31%;}
		&.twothird{width: 64%;}
		&.onequater{width:23%}
		&.threequater{width:73%}

		&.border{border-bottom: 1px solid $graymd;}

		&.nomargin{margin:0;}
		&.nopadding{padding:0;}

		&.graylt{background: $grayltr;}
		&.graydk{background: $graydk;}
	}
}

#footer{
	float:left;
	width:100%;
	background: $graydk;
	color:$graymd;
	padding:0 0 20px;

	a{color:$graymd;}
	a:hover{color:$white;}

	.menu.footer{
		margin: 20px 0 0;
		border-bottom:1px solid $gray;
		padding: 0 0 10px;
		a{
			color:$white;
			padding:5px 10px 5px 0;

			&:hover{
				color:$graymd;
			}
		}
	}
	.social {
		float: right;
		clear: right;
		margin: 10px 0 0;
	}
	.copy{
		float: left;
		margin: 10px 0 0;
	}
}