/* blues */
/* oranges */
/* grays */
/* masthead */
/* line 12, ../sass/ie.scss */
.masthead .widgets .widget.widget_nav_menu .menu-masthead-menu-container ul li a {
  margin: 0 0 0 20px;
}
/* line 19, ../sass/ie.scss */
.masthead .widgets .widget.widget_search {
  padding: 6px 0;
}
/* line 23, ../sass/ie.scss */
.masthead .widgets .widget.widget_search form.search input {
  border: none;
}

/* main menu */
/* line 38, ../sass/ie.scss */
.menu.main .wrapper .logo a img {
  height: 50px;
}
/* line 43, ../sass/ie.scss */
.menu.main .wrapper .menu-main-menu-container {
  width: 75%;
}
/* line 47, ../sass/ie.scss */
.menu.main .wrapper .menu-main-menu-container ul.menu li {
  margin: 0 0 0 38.75px;
}
/* line 50, ../sass/ie.scss */
.menu.main .wrapper .menu-main-menu-container ul.menu li.orange a {
  border: 2px solid #ff9016;
}
/* line 56, ../sass/ie.scss */
.menu.main .wrapper .menu-main-menu-container ul.menu li ul.sub-menu li a {
  border: 1px solid #808080;
}
/* line 58, ../sass/ie.scss */
.menu.main .wrapper .menu-main-menu-container ul.menu li ul.sub-menu li a:hover {
  border: 1px solid #808080;
}

/* buttons */
/* line 72, ../sass/ie.scss */
a.button {
  border: 2px solid #ff9016;
}

/* front page */
/* line 85, ../sass/ie.scss */
.template_front-page #content .section.partners .partner_wrap .post {
  border: 1px solid #c4c4c4;
  width: 24.75%;
}

/* sidebar */
/* line 104, ../sass/ie.scss */
.sidebar .widgets.list .widget.widget_cta.blue a.button {
  border: none;
}
/* line 108, ../sass/ie.scss */
.sidebar .widgets.list .widget.widget_cta.orange {
  background: #ff9016;
}
/* line 111, ../sass/ie.scss */
.sidebar .widgets.list .widget.widget_cta.orange a.button {
  background: #ffa139;
  border: none;
}
/* line 114, ../sass/ie.scss */
.sidebar .widgets.list .widget.widget_cta.orange a.button:hover {
  background: #d98022;
}

/* form elements */
/* line 128, ../sass/ie.scss */
select, input {
  border: 1px solid #c4c4c4;
}
