/* line 5, ../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 4, ../sass/_global.scss */
body {
  font: 400 14px/1.4em "Open Sans", Arial sans-serif;
  background: #fff;
  color: #4d4d4e;
}

/* line 10, ../sass/_global.scss */
p {
  margin: 0 0 15px;
}

/* line 14, ../sass/_global.scss */
p a:hover {
  text-decoration: underline;
}

/* line 15, ../sass/_global.scss */
li a:hover {
  text-decoration: underline;
}

/* line 17, ../sass/_global.scss */
h1 {
  font: 700 3em/1em "Open Sans", Arial sans-serif;
  margin: 0 0 0;
  color: #000;
}
/* line 21, ../sass/_global.scss */
h1 a {
  text-decoration: none;
  color: #000;
}
/* line 24, ../sass/_global.scss */
h1 a:hover {
  color: #4d4d4e;
}

/* line 27, ../sass/_global.scss */
h2 {
  font: 700 1.5em/1.5em "Open Sans", Arial sans-serif;
  margin: 0;
  color: #4d4d4e;
}
/* line 32, ../sass/_global.scss */
h2 a {
  text-decoration: none;
  color: #000;
}
/* line 35, ../sass/_global.scss */
h2 a:hover {
  color: #4d4d4e;
}

/* line 38, ../sass/_global.scss */
h3 {
  font: 700 1.4em/1.5em "Open Sans", Arial sans-serif;
  margin: 0 0 15px;
  color: #000;
}
/* line 42, ../sass/_global.scss */
h3 a {
  text-decoration: none;
  color: #000;
}
/* line 45, ../sass/_global.scss */
h3 a:hover {
  color: #4d4d4e;
}

/* line 48, ../sass/_global.scss */
h4 {
  font: 700 1.3em/1.5em "Open Sans", Arial sans-serif;
  margin: 0 0 15px;
  color: #000;
}
/* line 52, ../sass/_global.scss */
h4 a {
  text-decoration: none;
  color: #000;
}
/* line 55, ../sass/_global.scss */
h4 a:hover {
  color: #4d4d4e;
}

/* line 58, ../sass/_global.scss */
h5 {
  font: 700 1.2em/1.5em "Open Sans", Arial sans-serif;
  margin: 0 0 15px;
  color: #000;
}
/* line 62, ../sass/_global.scss */
h5 a {
  text-decoration: none;
  color: #000;
}
/* line 65, ../sass/_global.scss */
h5 a:hover {
  color: #4d4d4e;
}

/* line 68, ../sass/_global.scss */
h6 {
  font: 700 1em/1.5em "Open Sans", Arial sans-serif;
  margin: 0 0 15px;
  color: #000;
}
/* line 72, ../sass/_global.scss */
h6 a {
  text-decoration: none;
  color: #000;
}
/* line 75, ../sass/_global.scss */
h6 a:hover {
  color: #4d4d4e;
}

/* line 79, ../sass/_global.scss */
.wrapper {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
  position: relative;
}

/* line 85, ../sass/_global.scss */
.clear {
  width: 100%;
  margin: 0;
  clear: left;
}

/* line 91, ../sass/_global.scss */
.left {
  float: left;
}

/* line 92, ../sass/_global.scss */
.right {
  float: right;
}

/* line 94, ../sass/_global.scss */
.col {
  width: 48%;
  float: left;
  display: inline;
}
/* line 98, ../sass/_global.scss */
.col.left {
  margin: 0 2% 0 0;
}
/* line 100, ../sass/_global.scss */
.col.right {
  margin: 0 0 0 2%;
}

/* line 104, ../sass/_global.scss */
ul {
  list-style-type: disc;
  list-style: initial;
  margin: 0 0 35px 60px;
}
/* line 109, ../sass/_global.scss */
ul li {
  margin: 0 0 10px;
}

/* line 112, ../sass/_global.scss */
ol {
  list-style: decimal;
  margin: 0 0 35px 60px;
}
/* line 116, ../sass/_global.scss */
ol li {
  margin: 0 0 10px;
}

/* line 119, ../sass/_global.scss */
i, em {
  font-style: italic;
}

/* line 120, ../sass/_global.scss */
b, strong {
  font-weight: 700;
}

/* line 121, ../sass/_global.scss */
blockquote {
  padding: 0 10%;
}

/* line 123, ../sass/_global.scss */
img {
  max-width: 100%;
  height: auto;
}
/* line 126, ../sass/_global.scss */
img.alignleft {
  float: left;
  margin: 0 20px 20px 0;
}
/* line 130, ../sass/_global.scss */
img.alignright {
  float: right;
  margin: 0 0 20px 20px;
}
/* line 134, ../sass/_global.scss */
img.aligncenter {
  float: left;
  width: 100%;
  margin: 0 0 20px;
}

/* line 141, ../sass/_global.scss */
.svgwrap {
  max-width: 100%;
  height: auto;
}
/* line 144, ../sass/_global.scss */
.svgwrap.alignleft {
  float: left;
  margin: 0 20px 20px 0;
}
/* line 148, ../sass/_global.scss */
.svgwrap.alignright {
  float: right;
  margin: 0 0 20px 20px;
}
/* line 152, ../sass/_global.scss */
.svgwrap.aligncenter {
  float: left;
  width: 100%;
  margin: 0 0 20px;
}

/* line 159, ../sass/_global.scss */
.featuredimg {
  width: 100%;
  float: left;
  margin: 20px 0 60px;
}
/* line 163, ../sass/_global.scss */
.featuredimg img {
  float: left;
  width: 100%;
}

/* line 166, ../sass/_global.scss */
.wp-caption {
  border: 1px solid #d7d7d7;
}
/* line 168, ../sass/_global.scss */
.wp-caption img {
  float: left;
  border: 5px solid #fff;
}
/* line 172, ../sass/_global.scss */
.wp-caption.alignleft {
  float: left;
  margin: 0 20px 20px 0;
}
/* line 176, ../sass/_global.scss */
.wp-caption.alignright {
  float: right;
  margin: 0 0 20px 20px;
}
/* line 180, ../sass/_global.scss */
.wp-caption.aligncenter {
  float: left;
  width: 100%;
  margin: 0 0 20px;
}
/* line 185, ../sass/_global.scss */
.wp-caption p.wp-caption-text {
  font-size: .8em;
  float: left;
  width: 90%;
  background: #fff;
  padding: 10px 5%;
  margin: 0;
  line-height: 1.6em;
  text-align: center;
}

/* line 197, ../sass/_global.scss */
.iframe {
  float: left;
  margin-right: 2%;
}
/* line 200, ../sass/_global.scss */
.iframe.right {
  margin-right: 0;
  margin-left: 2%;
  float: right;
}
/* line 201, ../sass/_global.scss */
.iframe.half {
  width: 48%;
}
/* line 202, ../sass/_global.scss */
.iframe.onethird {
  width: 30%;
}

/* line 209, ../sass/_global.scss */
.social a {
  display: inline-block;
  background: url("../img/social.png") no-repeat 0 0 transparent;
  width: 25px;
  height: 25px;
  margin: 5px 5px 5px 0;
}
/* line 216, ../sass/_global.scss */
.social a:last-child {
  margin: 5px 0;
}
/* line 218, ../sass/_global.scss */
.social a.facebook {
  background-position: 0px 0px;
}
/* line 219, ../sass/_global.scss */
.social a.facebook:hover {
  background-position: 0px -50px;
}
/* line 220, ../sass/_global.scss */
.social a.twitter {
  background-position: -50px 0px;
}
/* line 221, ../sass/_global.scss */
.social a.twitter:hover {
  background-position: -50px -50px;
}
/* line 222, ../sass/_global.scss */
.social a.pintrest {
  background-position: -100px 0px;
}
/* line 223, ../sass/_global.scss */
.social a.pintrest:hover {
  background-position: -100px -50px;
}
/* line 224, ../sass/_global.scss */
.social a.google {
  background-position: -150px 0px;
}
/* line 225, ../sass/_global.scss */
.social a.google:hover {
  background-position: -150px -50px;
}
/* line 226, ../sass/_global.scss */
.social a.myspace {
  background-position: -200px 0px;
}
/* line 227, ../sass/_global.scss */
.social a.myspace:hover {
  background-position: -200px -50px;
}
/* line 228, ../sass/_global.scss */
.social a.linkedin {
  background-position: -250px 0px;
}
/* line 229, ../sass/_global.scss */
.social a.linkedin:hover {
  background-position: -250px -50px;
}
/* line 230, ../sass/_global.scss */
.social a.instagram {
  background-position: -300px 0px;
}
/* line 231, ../sass/_global.scss */
.social a.instagram:hover {
  background-position: -300px -50px;
}
/* line 232, ../sass/_global.scss */
.social a.rss {
  background-position: -350px 0px;
}
/* line 233, ../sass/_global.scss */
.social a.rss:hover {
  background-position: -350px -50px;
}
/* line 234, ../sass/_global.scss */
.social a.youtube {
  background-position: -400px 0px;
}
/* line 235, ../sass/_global.scss */
.social a.youtube:hover {
  background-position: -400px -50px;
}

/* line 241, ../sass/_global.scss */
.search #s {
  border: 2px solid #666464;
  background: #808080;
  color: #4d4d4e;
  padding: 5px;
  width: 180px;
}
/* line 248, ../sass/_global.scss */
.search #searchsubmit {
  border: 1px solid #666464;
  background: #666464;
  color: #4d4d4e;
  padding: 6px;
}
/* line 254, ../sass/_global.scss */
.search #searchsubmit:hover {
  background: #4d4d4e;
  color: #666464;
}

/* line 1, ../sass/_buttons.scss */
a {
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  color: #4d4d4e;
  text-decoration: none;
}
/* line 5, ../sass/_buttons.scss */
a:hover {
  color: #000;
}
/* line 7, ../sass/_buttons.scss */
a.button {
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font-weight: 700;
  color: #fff;
  background: #000;
  border: 1px solid #000;
  padding: 10px 30px;
  margin: 15px 0 35px;
}
/* line 15, ../sass/_buttons.scss */
a.button:hover {
  background: transparent;
  color: #000;
}
/* line 20, ../sass/_buttons.scss */
a.button.two {
  color: #fff;
  background: #4d4d4e;
  border: 1px solid #4d4d4e;
}
/* line 24, ../sass/_buttons.scss */
a.button.two:hover {
  background: transparent;
  color: #4d4d4e;
}
/* line 30, ../sass/_buttons.scss */
a.button.three {
  color: #fff;
  background: #808080;
  border: 1px solid #808080;
}
/* line 34, ../sass/_buttons.scss */
a.button.three:hover {
  background: transparent;
  color: #808080;
}
/* line 41, ../sass/_buttons.scss */
a.button.small {
  padding: 5px 15px;
  margin: 15px 0 35px;
}

/* line 6, ../sass/_menu.scss */
.menu, .widget_nav_menu {
  float: left;
  width: 100%;
}
/* line 10, ../sass/_menu.scss */
.menu ul, .widget_nav_menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 15, ../sass/_menu.scss */
.menu ul li, .widget_nav_menu ul li {
  display: inline-block;
  margin: 0;
}
/* line 18, ../sass/_menu.scss */
.menu ul li a, .widget_nav_menu ul li a {
  display: block;
  padding: 5px 10px;
}
/* line 22, ../sass/_menu.scss */
.menu ul li a:hover, .widget_nav_menu ul li a:hover {
  text-decoration: none;
}

/* line 28, ../sass/_menu.scss */
.menu.top {
  background: #4d4d4e;
  text-align: right;
}
/* line 32, ../sass/_menu.scss */
.menu.top a {
  display: block;
  background: #4d4d4e;
  color: #fff;
  padding: 5px 10px;
}
/* line 38, ../sass/_menu.scss */
.menu.top a:hover {
  color: #4d4d4e;
  background: #808080;
}

/* line 47, ../sass/_menu.scss */
.menu.main {
  background: #4d4d4e;
}
/* line 50, ../sass/_menu.scss */
.menu.main li a {
  display: block;
  background: #4d4d4e;
  color: #fff;
  padding: 15px 30px;
  margin: 0;
  border-right: 2px solid #fff;
}
/* line 58, ../sass/_menu.scss */
.menu.main li a:hover {
  color: #4d4d4e;
  background: #808080;
}
/* line 63, ../sass/_menu.scss */
.menu.main li:last-child a {
  border-right: none;
}

/* line 2, ../sass/_mainvisual.scss */
#mainvisual {
  float: left;
  width: 100%;
  background: #808080;
  min-height: 250px;
  margin: 0;
  position: relative;
  overflow: hidden;
}
/* line 10, ../sass/_mainvisual.scss */
#mainvisual .slideshow {
  width: 100%;
  position: relative;
  z-index: 10;
}
/* line 15, ../sass/_mainvisual.scss */
#mainvisual .wrapper {
  position: relative;
  overflow: hidden;
  height: 100%;
}
/* line 21, ../sass/_mainvisual.scss */
#mainvisual .slide {
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #d7d7d7;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 360px;
  width: 100%;
  position: relative;
  overflow: hidden;
  text-align: left;
}
/* line 36, ../sass/_mainvisual.scss */
#mainvisual .slide.right {
  text-align: right;
}
/* line 39, ../sass/_mainvisual.scss */
#mainvisual .slide.center {
  text-align: center;
}
/* line 44, ../sass/_mainvisual.scss */
#mainvisual .content {
  width: 100%;
  height: auto;
  display: block;
  z-index: 50;
  position: absolute;
  margin: 30px 0;
  top: 50%;
  transform: translateY(-50%);
}
/* line 54, ../sass/_mainvisual.scss */
#mainvisual .content .title {
  font-weight: 400;
  color: #fff;
  font-size: 2.5em;
  line-height: 1.5em;
}
/* line 60, ../sass/_mainvisual.scss */
#mainvisual .content .title a {
  color: #fff;
}
/* line 62, ../sass/_mainvisual.scss */
#mainvisual .content .subtitle {
  font-weight: 400;
  color: #fff;
  font-size: 2em;
  line-height: 1.5em;
}
/* line 68, ../sass/_mainvisual.scss */
#mainvisual .content a.button {
  display: inline-block;
  margin: 15px 0;
}
/* line 74, ../sass/_mainvisual.scss */
#mainvisual .controls {
  position: absolute;
  bottom: 20px;
  z-index: 100;
  width: 100%;
  text-align: center;
  color: #fff;
}
/* line 83, ../sass/_mainvisual.scss */
#mainvisual .cycle-pager {
  display: inline-block;
}
/* line 85, ../sass/_mainvisual.scss */
#mainvisual .cycle-pager span {
  font-size: 0;
  width: 20px;
  height: 20px;
  display: block;
  background-color: #fff;
  margin: 0 5px;
  line-height: 0;
  position: relative;
  float: left;
  cursor: pointer;
}
/* line 96, ../sass/_mainvisual.scss */
#mainvisual .cycle-pager span.cycle-pager-active {
  background-color: #4d4d4e;
}
/* line 99, ../sass/_mainvisual.scss */
#mainvisual .cycle-pager span:hover {
  background-color: #d7d7d7;
}
/* line 104, ../sass/_mainvisual.scss */
#mainvisual .arrows {
  cursor: pointer;
  display: inline-block;
  width: 0;
  height: 0px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}
/* line 112, ../sass/_mainvisual.scss */
#mainvisual .arrows.cycle-prev {
  border-right: 15px solid #fff;
}
/* line 113, ../sass/_mainvisual.scss */
#mainvisual .arrows.cycle-next {
  border-left: 15px solid #fff;
}

/* line 4, ../sass/_widgets.scss */
.widgets.grid .widget {
  float: left;
  width: 30%;
  margin: 0 1.5% 20px;
}
/* line 9, ../sass/_widgets.scss */
.widgets.grid .widget:nth-child(4n+0) {
  clear: left;
}
/* line 15, ../sass/_widgets.scss */
.widgets.list .widget {
  float: left;
  width: 100%;
  margin: 0 0 20px;
  padding: 0 0 20px;
  border-bottom: 1px solid #666464;
}
/* line 22, ../sass/_widgets.scss */
.widgets.list .widget:last-child {
  border-bottom: none;
}

/* line 4, ../sass/_posts.scss */
.posts.cards .post {
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  float: left;
  width: 31.33%;
  margin: 0 1% 20px;
  background-color: #fff;
  box-shadow: 0px 0px 0px 1px #d7d7d7;
  border-bottom: 2px solid #d7d7d7;
}
/* line 13, ../sass/_posts.scss */
.posts.cards .post:hover {
  border-bottom: 2px solid #4d4d4e;
}
/* line 17, ../sass/_posts.scss */
.posts.cards .post img {
  width: 100%;
  height: auto;
}
/* line 19, ../sass/_posts.scss */
.posts.cards .post .content {
  width: 90%;
  padding: 10px 5%;
  height: 160px;
}
/* line 24, ../sass/_posts.scss */
.posts.cards .post .content .title {
  margin: 5px 0 10px;
  font-size: 1.2em;
  line-height: 1.3em;
}
/* line 29, ../sass/_posts.scss */
.posts.cards .post .content p {
  color: #808080;
}
/* line 31, ../sass/_posts.scss */
.posts.cards .post .metadata {
  font-size: .8em;
  padding: 0 0 5px;
  color: #808080;
}
/* line 35, ../sass/_posts.scss */
.posts.cards .post .metadata a {
  color: #808080;
}
/* line 37, ../sass/_posts.scss */
.posts.cards .post .metadata a:hover {
  color: #4d4d4e;
}
/* line 43, ../sass/_posts.scss */
.posts.cards.card_onethird .post {
  width: 32%;
  margin: 0 1% 20px;
}
/* line 47, ../sass/_posts.scss */
.posts.cards.card_onethird .post:nth-child(3n+1) {
  clear: left;
  margin-left: 0;
}
/* line 52, ../sass/_posts.scss */
.posts.cards.card_onethird .post:nth-child(3n+3) {
  margin-right: 0;
}
/* line 60, ../sass/_posts.scss */
.posts.cards.card_onequarter .post {
  width: 23%;
  margin: 0 1% 20px;
}
/* line 64, ../sass/_posts.scss */
.posts.cards.card_onequarter .post:nth-child(4n+1) {
  clear: left;
  margin-left: 0;
}
/* line 69, ../sass/_posts.scss */
.posts.cards.card_onequarter .post:nth-child(4n+2) {
  margin-right: 0;
}
/* line 77, ../sass/_posts.scss */
.posts.cards.card_half .post {
  width: 49%;
  margin: 0 1% 20px;
}
/* line 81, ../sass/_posts.scss */
.posts.cards.card_half .post:nth-child(2n+1) {
  clear: left;
  margin-left: 0;
}
/* line 86, ../sass/_posts.scss */
.posts.cards.card_half .post:nth-child(2n+2) {
  margin-right: 0;
}

/* line 21, ../sass/screen.scss */
.mainwrapper {
  width: 100%;
  margin: 0 auto;
  background: #fff;
  overflow: hidden;
}

/* line 27, ../sass/screen.scss */
.masthead {
  background: #d7d7d7;
  padding: 10px 0;
  float: left;
  width: 100%;
  position: relative;
  z-index: 100;
}
/* line 36, ../sass/screen.scss */
.masthead .widgets .widget {
  float: right;
  width: auto;
  margin: 0 0 0 10px;
  padding: 0;
}
/* line 42, ../sass/screen.scss */
.masthead .widgets .widget a {
  float: left;
}

/* line 49, ../sass/screen.scss */
#header {
  float: left;
  width: 100%;
  padding: 20px 0;
  position: relative;
  z-index: 100;
  text-align: center;
}

/* line 57, ../sass/screen.scss */
#content {
  float: left;
  width: 100%;
  padding: 20px 0;
  position: relative;
  z-index: 100;
}
/* line 64, ../sass/screen.scss */
#content .section {
  float: left;
  width: 100%;
  margin: 0;
  padding: 60px 0;
}
/* line 70, ../sass/screen.scss */
#content .section.left {
  margin: 0 2% 0 0;
}
/* line 71, ../sass/screen.scss */
#content .section.right {
  margin: 0 0 0 2%;
}
/* line 72, ../sass/screen.scss */
#content .section.half {
  width: 48%;
}
/* line 73, ../sass/screen.scss */
#content .section.onethird {
  width: 31%;
}
/* line 74, ../sass/screen.scss */
#content .section.twothird {
  width: 64%;
}
/* line 75, ../sass/screen.scss */
#content .section.onequater {
  width: 23%;
}
/* line 76, ../sass/screen.scss */
#content .section.threequater {
  width: 73%;
}
/* line 78, ../sass/screen.scss */
#content .section.border {
  border-bottom: 1px solid #666464;
}
/* line 80, ../sass/screen.scss */
#content .section.nomargin {
  margin: 0;
}
/* line 81, ../sass/screen.scss */
#content .section.nopadding {
  padding: 0;
}
/* line 83, ../sass/screen.scss */
#content .section.graylt {
  background: #f7f8f8;
}
/* line 84, ../sass/screen.scss */
#content .section.graydk {
  background: #4d4d4e;
}

/* line 88, ../sass/screen.scss */
#footer {
  float: left;
  width: 100%;
  background: #4d4d4e;
  color: #666464;
  padding: 0 0 20px;
}
/* line 95, ../sass/screen.scss */
#footer a {
  color: #666464;
}
/* line 96, ../sass/screen.scss */
#footer a:hover {
  color: #fff;
}
/* line 98, ../sass/screen.scss */
#footer .menu.footer {
  margin: 20px 0 0;
  border-bottom: 1px solid #808080;
  padding: 0 0 10px;
}
/* line 102, ../sass/screen.scss */
#footer .menu.footer a {
  color: #fff;
  padding: 5px 10px 5px 0;
}
/* line 106, ../sass/screen.scss */
#footer .menu.footer a:hover {
  color: #666464;
}
/* line 111, ../sass/screen.scss */
#footer .social {
  float: right;
  clear: right;
  margin: 10px 0 0;
}
/* line 116, ../sass/screen.scss */
#footer .copy {
  float: left;
  margin: 10px 0 0;
}
